<h2 class="bold">Login</h2>
<form>
    <fieldset>
        <legend>E-mail</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-envelope-check-fill"></i>
            </span>
            <input type="email" id="email" class="form-control" required>
        </div>
    </fieldset>
    <fieldset>
        <legend class="float-none w-auto px-2">Número</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-phone-fill"></i>
            </span>
            <input type="tel" id="tel" class="form-control" required>
        </div>
    </fieldset>
    <button type="submit">Entrar</button>
</form>
<div class="div-or">
    <div class="line-or">
        <span>ou</span>
    </div>
    <button class="google-login" type="button">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google"
            class="google-icon" />
        Continuar com Google
    </button>
</div>