.row {
    margin-bottom: 20px;

    .card-body {
        background-color: #141519;
        border: none;
        border-radius: 8px;
        padding: 18px;

        .header-group {
            display: flex;
            align-items: center; // Alinhamento vertical h1-icon
            justify-content: space-between; // H1 na esquerda, Ícone na direita
        }
    }

    h1 {
        color: #ffffff;
        font-size: 11px;
        margin-top: -30px;
        margin-bottom: 10;
        left: auto;
    }

    h2 {
        color: #ffffff;
        font-size: 24px;
        margin-top: 10px;
    }

    p {
        color: #ffffff;
        font-size: 9px;
        margin-top: 8px;
    }

    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 8%;
        color: #FFFFFF;
        font-size: 1rem;
        background-color: #7F62F5;
        margin-left: -1px;
    }

    .bi.bi-graph-up-arrow {
        color: #30C375;
    }

    .card.list-client {
        background-color: #121417;
        border-radius: 8px;
        border: none;
        color: #ffffff;
        overflow: hidden;
    }

    /* 2. Cabeçalho com linha divisória sutil */
    .card-header-pro {
        padding: 25px 25px 15px 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}