<div class="title-dasboard">
    <div>
        <h1>Clientes</h1>
        <p>Gerencie sua base de clientes</p>
    </div>
    <button class="btn-primary">
        <i class="bi bi-plus-lg"></i> Adicionar Cliente
    </button>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Total Clientes</h1>
                <div class="icon-wrapper bg-primary-light"><i class="bi bi-person"></i></div>
            </div>
            <!-- <h2 *ngIf="servicePage">{{ servicePage.dashboard.totalServices}}</h2> -->
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Novos este mês </h1>
                <div class="icon-wrapper bg-primary-light"><i class="bi bi-person-fill-add"></i></div>
            </div>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Clientes Ativos</h1>
                <div class="icon-wrapper bg-primary-light"><i class="bi bi-currency-dollar"></i></div>
            </div>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Ticket Médio</h1>
                <div class="icon-wrapper bg-primary-light"><i class="bi bi-scissors"></i></div>
            </div>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12">
        <div class="card list-client">
            <div class="card-header-pro">
                <h5>Lista de Clientes</h5>
            </div>
        </div>
    </div>
</div>