<div class="title-dasboard">
    <div>
        <h1>Financeiro</h1>
        <p>Controle financeiro da barbearia</p>
    </div>
    <button class="btn-primary">
        <i class="bi bi-chevron-down"></i> Este Mês
    </button>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Receita Total</h1>
                <div class="icon-wrapper bg-primary-light"><i class="bi bi-graph-up-arrow"></i></div>
            </div>
            <!-- <h2 *ngIf="servicePage">{{ servicePage.dashboard.totalServices}}</h2> -->
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Despesas</h1>
                <div class="icon-red bg-primary-light"><i class="bi bi-graph-down-arrow"></i></div>
            </div>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card-body">
            <div class="header-group">
                <h1>Lucro Líquido</h1>
                <div class="icon-profit bg-primary-light"><i class="bi bi-currency-dollar"></i></div>
            </div>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
    </div>
 </div>

 