h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', bold;
    color: white;
}

form {
    height: 340px;
    overflow-y: auto;
}

form::-webkit-scrollbar {
    width: 8px;
}

/* trilho (fundo do scroll) */
form::-webkit-scrollbar-track {
    //   background: transparent !important;
     margin: 20px 0;
}

/* barrinha que desliza */
form::-webkit-scrollbar-thumb {
    background-color: #888;
    /* mude ou deixe transparente */
    border-radius: 10px;
    margin-top: 400px;

}


.div-or {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line-or {
        display: flex;
        align-items: center;
        text-align: center;
        color: #555;
        width: 100%;
        margin-top: 10px;
    }

    .line-or::before,
    .line-or::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #ccc;
    }

    .line-or:not(:empty)::before {
        margin-right: 0.75em;
    }

    .line-or:not(:empty)::after {
        margin-left: 0.75em;
    }
}