<h2>Registre-se</h2>
<form>
    <fieldset>
        <legend>Nome Completo</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-person-circle"></i>
            </span>
            <input type="text" id="name" class="form-control" placeholder="Digite seu nome" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>E-mail</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-envelope-check-fill"></i>
            </span>
            <input type="email" id="email" class="form-control" placeholder="Digite seu e-mail" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Número</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-telephone-inbound-fill"></i>
            </span>
            <input type="tel" id="tel" class="form-control" placeholder="(00) 9 xxxx-xxxx" required>
        </div>
    </fieldset>
    <div class="div-or">
        <div class="line-or">
            <span>password</span>
        </div>
    </div>
    <fieldset>
        <legend>Senha</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-key-fill"></i>
            </span>
            <input type="password" id="password" class="form-control" placeholder="*****" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Confirmação de Senha</legend>
        <div class="input-group">
            <span class="input-group-text icons-background">
                <i class="bi bi-key-fill"></i>
            </span>
            <input type="password" id="password2" class="form-control" placeholder="*****" required>
        </div>
    </fieldset>
    <button type="submit">Criar conta</button>
</form>


<!-- <form class="login-form">
    <fieldset class="input-borda">
        <legend>Nome Completo</legend>
        <input type="text" id="name" required />
    </fieldset>
    <fieldset class="input-borda">
        <legend>E-mail</legend>
        <input type="email" id="email" required />
    </fieldset>
    <div class="phone">
        <fieldset class="input-borda cod-number">
            <legend>DDD</legend>
            <input type="text" id="cod-number" required />
        </fieldset>
        <fieldset class="input-borda phone-number">
            <legend>Número</legend>
            <input type="text" id="phone-number" required />
        </fieldset>
    </div>

    <div class="or-linha-ou"></div>
    <fieldset class="input-borda">
        <legend>Senha</legend>
        <input type="password" id="password" required />
    </fieldset>
    <fieldset class="input-borda">
        <legend>Confirmar Senha</legend>
        <input type="password" id="password2" required />
    </fieldset>
    <button (click)="registerUser()" type="submit">Registrar</button>
</form> -->