<form [formGroup]="accommodationForm" (ngSubmit)="postAccommodation()">

  <input type="checkbox" formControlName="wifi" placeholder="Wifi">

  <input type="checkbox" formControlName="parking" placeholder="Estacionamento">

  <input type="checkbox" formControlName="bath" placeholder="Banheiro">
  <input type="checkbox" formControlName="airConditioner" placeholder="Ar-condicionado">
  <input type="number" formControlName="barbershopId" placeholder="">

  <button type="submit">Salvar</button>

  <div class="amenities-section">
    <h5>Acomodações da Barbearia</h5>
    <div class="d-flex flex-wrap gap-2 mt-2">
        <button type="button" *ngFor="let amenity of amenities" class="btn"
            [ngClass]="amenity.selected ? 'btn-primary' : 'btn-outline-primary'" (click)="toggleAmenity(amenity)"
            [title]="amenity.name" aria-pressed="{{ amenity.selected }}">
            <i class="bi {{ amenity.icon }} me-1"></i>
            {{ amenity.name }}
        </button>
    </div>
</div>
</form>

