<h2>Insira sua nova senha</h2>
<div>
    <form (ngSubmit)="onSubmit()">
        <fieldset>
            <legend for="new-password">Nova Senha</legend>
            <div class="input-group">
                <span class="input-group-text icons-background">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" id="new-password" [(ngModel)]="newPassword" name="newPassword"
                    class="form-control" placeholder="Nova Senha" required>
            </div>
        </fieldset>
        <fieldset>
            <legend for="new-password">Confirmar senha </legend>
            <div class="input-group">
                <span class="input-group-text icons-background">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" id="new-password" [(ngModel)]="newPassword" name="newPassword"
                    class="form-control" placeholder="Nova Senha" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary w-100 mt-3">Redefinir Senha</button>
    </form>
</div>