.configurações {
    align-items: center;
    max-width: 500px;
    width: 100%;

}

.card-header {
    background-color: #2a2d31;
    padding: 12px 20px;

    .text-header {
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
    }
}

.body-conta {
    padding: 15px;
    background-color: #1a1c1e;

    .info-plano {
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
    }

    .text-ifons {
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
    }
}

.info-email {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.05rem;
    display: block;
}

.info-senha {
    color: #ffffff;
    font-size: 0.95rem;
    display: block;
}

.footer-conta {
    text-align: center;
    color: #33DDFF;
    background-color: #1a1c1e;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-gerenciar {
    color: #00a3ff;
    /* Azul vibrante da imagem */
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: opacity 0.2s;
}

.btn-gerenciar:hover {
    opacity: 0.8;
    color: #00a3ff;
}

.card-plano {
    margin-top: 2rem;

    .plano {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem;
        padding: 15px;
        background-color: #1a1c1e;

        .text-assinatura {
            color: #ffffff;
        }

        .text-assinante {
            color: #ffffff;
            border-radius: 50px;
            padding: 4px;
            background: linear-gradient(to right, #7F62F5, #372A6D);
        }
    }

    .info-plano-atual {
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
        padding: 0 15px 10px 15px;
        background-color: #1a1c1e;
    }

    .text-renovacao {
        color: #ffffff;
        font-size: 0.7rem;
        margin-top: 0.4rem;
    }

    .info-historico {
        padding: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
        background-color: #1a1c1e;
    }
}

.card-outros {
    margin-top: 2rem;
    margin-bottom: 3rem;

    .outras-info {
        background-color: #1a1c1e;

        .info-row {
            color: #ffffff;
            font-weight: 600;
            font-size: 0.95rem;
            padding: 15px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}