<div class="title-dasboard">
    <div>
        <h1>Gerencie sua conta</h1>
        <p>Controle das informações da barbearia</p>
    </div>
</div>

<div class="configurações">

    <div class="card-conta">
        <div class="card-header">
            <span class="text-header">user.barbe</span>
        </div>

        <div class="body-conta">
            <div class="info-row">
                <span class="info-email">example@gmail.com</span>
            </div>
            <div class="info-row mt-1">
                <span class="info-senha">Senha: ******</span>
            </div>
        </div>

        <div class="footer-conta">
            <a><!-- <a href="javascript:void(0)" (click)="abrirGerenciarConta()" class="btn-gerenciar"> -->
                Gerenciar conta
            </a>
        </div>
    </div>

    <div class="card-plano">
        <div class="card-header">
            <span class="text-header">Seus planos e cobranças</span>
        </div>

        <div class="plano">
            <span class="text-assinatura">Assinaturas</span>
            <span class="text-assinante">Assinante desde 17/09/2025</span>
        </div>

        <div class="info-plano-atual">
            <span class="info-plano">Bigode Premium (anual) <i class="bi bi-chevron-right"></i> </span>
            <p class="text-renovacao">A assinatura será renovada em 27 de março de 2026</p>
        </div>

        <div class="info-historico">
            <span class="historico">Histórico de cobranças <i class="bi bi-chevron-right"></i> </span>
        </div>

    </div>

    <div class="card-outros">
        <div class="card-header">
            <span class="text-header">Outras configurações</span>
        </div>

        <div class="outras-info">
            <div class="info-row">
                <span class="info-outros">Horarios de funcionamento<i class="bi bi-chevron-right"></i></span>
            </div>

            <div class="info-row">
                <span class="info-outros">Formas de pagamento<i class="bi bi-chevron-right"></i></span>
            </div>

            <div class="info-row">
                <span class="info-outros">Acomodações<i class="bi bi-chevron-right"></i></span>
            </div>

            <div class="info-row">
                <span class="info-outros">Endereço<i class="bi bi-chevron-right"></i></span>
            </div>

        </div>
    </div>
</div>