<div class="title-dasboard">
    <div>
        <h1>Gerencie sua conta</h1>
        <p>Controle das informações da barbearia</p>
    </div>
</div>

<div>
    <div class="card-header-conta">
        <span class="user-label">user.barbe</span>
    </div>

    <div class="body-conta">
        <div class="info-row">
            <span class="info-email">example@gmail.com</span>
        </div>
        <div class="info-row mt-1">
            <span class="info-senha">Senha: ******</span>
        </div>
    </div>


    <div class="footer-conta">
        <a><!-- <a href="javascript:void(0)" (click)="abrirGerenciarConta()" class="btn-gerenciar"> -->
            Gerenciar conta
        </a>
    </div>
</div>