.configurações {
    // align-items: center;
    // max-width: 500px;
    // width: 100%;
}

.card-header {
    background-color: #2a2d31;
    padding: 12px 20px;

    .text-header {
        color: #ffffff;
        font-weight: 600;
        font-size: 0.95rem;
    }
}

.body-conta {
    padding: 15px;
    background-color: #1a1c1e;
}

.info-email {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.05rem;
    display: block;
}

.info-senha {
    color: #ffffff;
    font-size: 0.95rem;
    display: block;
}

.footer-gerenciar-conta {
    text-align: center;
    background-color: #1a1c1e;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .btn-gerenciar-conta {
        color: #ffffff;
        font-weight: 500;
        font-size: 0.95rem;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        &:hover {
            color: #33DDFF;
        }
    }
}

.card-outros {
    margin-top: 2rem;
    margin-bottom: 3rem;

    .outras-info {
        background-color: #1a1c1e;

        .info-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            font-weight: 600;
            font-size: 0.95rem;
            width: 100%;
            border: -0;
            color: #fcfcfc;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            background-color: #2a2d3100;
        }
    }
}