    .signup-link {
        margin-top: 3%;
        gap: 1;
        font-family: 'Inter', light;
        font-size: 13px;
        color: #c0c0c0;
        text-align: center;
    }

    .signup-link .create-account {
        color: #7F62F5;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        margin-left: 5px;
        transition: color 0.3s ease;
    }