<h2>Endereço</h2>

<form [formGroup]="form">
    <div class="cep-and-number">
        <fieldset class="cep">
            <legend>Cep</legend>
            <div class="input-group">
                <input formControlName="cep" type="text" id="cep" class="form-control" placeholder="" required>
            </div>
        </fieldset>
        <fieldset class="number">
            <legend>Número</legend>
            <div class="input-group">
                <input type="text" formControlName="number" id="number" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
    <div class="rua-bairro">
        <fieldset class="rua">
            <legend>Rua</legend>
            <div class="input-group">
                <input formControlName="logradouro" type="text" id="logradouro" class="form-control" placeholder=""
                    required>
            </div>
        </fieldset>
        <fieldset class="bairro">
            <legend>Bairro</legend>
            <div class="input-group">
                <input formControlName="bairro" type="text" id="bairro" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
    <fieldset>
        <legend>Complemento</legend>
        <div class="input-group">
            <!-- <span class="input-group-text icons-background">
                <i class="bi bi-telephone-inbound-fill"></i>
            </span> -->
            <input type="text" id="complemento" class="form-control" placeholder="    Ex: sala ou ap" required>
        </div>
    </fieldset>
    <div class="uf-and-city">
        <fieldset class="city">
            <legend>Cidade</legend>
            <div class="input-group">
                <!-- <span class="input-group-text icons-background">
                    <i class="bi bi-telephone-inbound-fill"></i>
                </span> -->
                <input formControlName="localidade" type="text" id="localidade" class="form-control" placeholder="" required>
            </div>
        </fieldset>
        <fieldset class="uf">
            <legend>UF</legend>
            <div class="input-group">
                <!-- <span class="input-group-text icons-background">
                    <i class="bi bi-telephone-inbound-fill"></i>
                </span> -->
                <input formControlName="uf" type="text" id="uf" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
</form>