h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', bold;
    color: white;
}

form {
    height: 340px;

    .cep-and-number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cep-and-number .cep {
        width: 50%;

    }

    .cep-and-number .number {
        width: 35%;
    }

}