h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', bold;
    color: white;
}

form {
    height: 340px;

    .photo-perfil {
        width: 80px;
        height:80px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .duration_and_value {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        .duration {
            width: 30%;
        }

        .value {
            width: 25%;
        }
    }

    .tipo-servico {
        color: floralwhite;
        display: flex;
        justify-content: center;
        gap: 10%;
    }

}

.signup-link {
    margin-top: 3%;
    gap: 1;
    font-family: 'Inter', light;
    font-size: 13px;
    color: #c0c0c0;
    text-align: center;
}

.signup-link .create-account {
    color: #7F62F5;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.3s ease;
}