<h2>Endereço</h2>

<form (ngSubmit)="postAddress()">
    <div class="cep-and-number">
        <fieldset class="cep">
            <legend>Cep</legend>
            <div class="input-group">
                <input name="cep" [(ngModel)]="newAddress.cep" type="text" id="cep" class="form-control" placeholder="" required>
            </div>
        </fieldset>
        <fieldset class="number">
            <legend>Número</legend>
            <div class="input-group">
                <input name="number" [(ngModel)]="newAddress.number" type="number" id="number" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
    <div class="rua-bairro">
        <fieldset class="rua">
            <legend>Rua</legend>
            <div class="input-group">
                <input name="road" [(ngModel)]="newAddress.road" type="text" id="road" class="form-control" placeholder="" required>
            </div>
        </fieldset>
        <fieldset class="bairro">
            <legend>Bairro</legend>
            <div class="input-group">
                <input name="neighborhood" [(ngModel)]="newAddress.neighborhood" type="text" id="neighborhood" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
    <fieldset>
        <legend>Complemento</legend>
        <div class="input-group">
            <!-- <span class="input-group-text icons-background">
                <i class="bi bi-telephone-inbound-fill"></i>
            </span> -->
            <input name="complement" [(ngModel)]="newAddress.complement" type="text" id="complement" class="form-control" placeholder="" required>
        </div>
    </fieldset>
    <div class="uf-and-city">
        <fieldset class="city">
            <legend>Cidade</legend>
            <div class="input-group">
                <!-- <span class="input-group-text icons-background">
                    <i class="bi bi-telephone-inbound-fill"></i>
                </span> -->
                <input name="city" [(ngModel)]="newAddress.city" type="text" id="city" class="form-control" placeholder="" required>
            </div>
        </fieldset>
        <fieldset class="uf">
            <legend>UF</legend>
            <div class="input-group">
                <!-- <span class="input-group-text icons-background">
                    <i class="bi bi-telephone-inbound-fill"></i>
                </span> -->
                <input name="state" [(ngModel)]="newAddress.state" type="text" id="state" class="form-control" placeholder="" required>
            </div>
        </fieldset>
    </div>
    <fieldset class="number">
        <legend>Id Barbershop</legend>
        <div class="input-group">
            <input name="barbershopId" [(ngModel)]="newAddress.barbershopId" type="number" id="barbershopId" class="form-control" placeholder="" required>
        </div>
    </fieldset>

   <button type="submit">Salvar</button>
</form>