<div #modalRegister class="modal fade" id="modal-register" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Conta criada com sucesso 🎉</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        Sua conta foi registrada com sucesso!
        Agora você já pode acessar todos os recursos da plataforma.
        <i class="bi bi-check-circle-fill text-success me-2"
          style="font-size: 5rem; display: flex; justify-content: center; align-items: center; margin-top: 7%;"></i>
        <br>📩 Por favor, verifique seu e-mail para confirmar o cadastro e ativar sua conta.<br>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <a href="/login" class="btn btn-primary">Ir para o login</a>
      </div>
    </div>
  </div>
</div>